{% load i18n %}
<li id="assets">
    <a href="{% url 'assets:user-asset-list' %}">
        <i class="fa fa-files-o" style="width: 14px"></i><span class="nav-label">{% trans 'My assets' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="users">
    <a href="{% url 'users:user-profile' %}">
        <i class="fa fa-user" style="width: 14px"></i> <span class="nav-label">{% trans 'Profile' %}</span><span class="label label-info pull-right"></span>
    </a>
</li>
<li id="ops">
    <a>
        <i class="fa fa-coffee" style="width: 14px"></i> <span class="nav-label">{% trans 'Job Center' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="task"><a href="{% url 'ops:task-list' %}">{% trans 'Task list' %}</a></li>
        <li id="job"><a href="{% url 'ops:job-list' %}">{% trans 'Job List' %}</a></li>
    </ul>
</li>
<li id="dev">
    <a>
        <i class="fa fa-eye-slash" style="width: 14px"></i> <span class="nav-label">{% trans 'Dev Center' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="task"><a>{% trans 'Task List' %}</a></li>
        <li id="green"><a>{% trans 'Green List' %}</a></li>
        <li id="gray"><a>{% trans 'Gray List' %}</a></li>
        <li id="rollback"><a>{% trans 'Rollback List' %}</a></li>
    </ul>
</li>
<li id="monitor">
    <a>
        <i class="fa fa-shield" style="width: 14px"></i> <span class="nav-label">{% trans 'Monitor Center' %}</span><span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li id="task"><a>{% trans 'Task List' %}</a></li>
    </ul>
</li>
<li >
    <a href="{% url 'terminal:web-terminal' %}" target="_blank"><i class="fa fa-window-maximize" style="width: 14px"></i>
        <span class="nav-label">{% trans 'Web terminal' %}</span>
    </a>
</li>
